<div class="container"  >
    <div class="row" id="bordeDelimitado1">
        <H3>Educacion</H3>
<div class="educacion">
    <div *ngFor="let educaciones of educacion"> 
        <app-educacion-individual [educacion]="educaciones"> </app-educacion-individual>
</div>
</div>
    </div>
</div>


    <!---- <H5>{{EducacionIndividual.tituloEstablecimiento}}</H5>
    <p>{{EducacionIndividual.fechaInicio}} - {{EducacionIndividual.fechaFinalizacion}} </p>
    <p>Descripcion: {{EducacionIndividual.descripcion}}</p>  -->