<div class="container" id="main-container" >
    <div class="row" id="bordeDelimitado1">
        <H2>Educacionn</H2>
        <span>
            <button class="btn btn-success float-right" (click)="onOpenModal(null, 'agregar')">Agregar</button>
        </span>
        <br>
        <br>
        <br>

<div class="educacion" >
    <div class="row" *ngFor= "let educacion of educaciones">
        <div class="col-1" >
            <p> <img  src="{{educacion?.logo}}"  alt="description" class="img-fluid" /></p>
        </div>
        <div class="col-11">
            <h5>{{educacion.establecimiento}}</h5>
            <h6>{{educacion.titulo}}</h6>
            <p id="fecha">{{educacion.desde | date:'shortDate'}} - {{educacion.hasta | date:'shortDate'}}</p>
        
        <div class="col-12">
        <button class="btn btn-primary float-right" (click)="onOpenModal(educacion, 'editar')">Editar</button>
        <button class="btn btn-danger float-right" (click)="onOpenModal(educacion, 'eliminar')">Eliminar</button>
      
        <br>
        <br>
        <br>
        
    </div>
</div>
</div>
</div>
</div>
</div>



<!-- Modal de AGREGAR -->
<div class="modal fade" id="agregarEducacionModal" tabindex="-1" role="dialog" aria-labelledby="addEAgregarEducacion" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="AgregarEducacionLabel">Agregar Educacion</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <form #addForm="ngForm" (ngSubmit)="onAgregarEducacion(addForm)">
            <div class="form-group">
               <label for="establecimiento"> Establecimiento</label>
               <input type="text" ngModel name="establecimiento" class="form-control" id="establecimiento" placeholder="Establecimiento" required>
            </div>
            <div class="form-group">
               <label for="titulo">Titulo</label>
               <input type="text" ngModel name="titulo" class="form-control" id="titulo" placeholder="Titulo" required>
            </div>
            <div class="form-group">
               <label for="desde">Desde</label>
               <input type="date" ngModel name="desde" class="form-control" id="desde" placeholder="Fecha" required>
            </div>
            <div class="form-group">
               <label for="hasta">Hasta</label>
               <input type="string" ngModel name="hasta" class="form-control" id="hasta" placeholder="Fecha" required>
            </div>
            <div class="form-group">
               <label for="phone">Logo</label>
               <input type="text" ngModel name="logo" class="form-control" id="logo" placeholder="Logo" required>
            </div>
            <div class="modal-footer">
               <button type="button" id="agregar-educacion-form" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
               <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Guardar</button>
            </div>
            </form>
         </div>
      </div>
    </div>
    </div>


<!-- Modal de EDITAR -->
<div class="modal fade" id="editarEducacionModal" tabindex="-1" role="dialog" aria-labelledby="educacionEditarModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="editarEducacionModalLabel">Editar Educacion</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <form #editForm="ngForm">
               <div class="form-group">
                  <label for="name"> Establecimiento </label>
                  <input type="text" ngModel="{{editarEducacion?.establecimiento}}" name="establecimiento" class="form-control" id="establecimiento" aria-describedby="emailHelp" placeholder="Establecimiento">
               </div>
               <input type="hidden" ngModel="{{editarEducacion?.id}}" name="id" class="form-control" id="id" placeholder="cualquiera">
               <div class="form-group">
                  <label for="titulo"> Titulo </label>
                  <input type="text" ngModel="{{editarEducacion?.titulo}}" name="titulo" class="form-control" id="titulo" placeholder="Titulo">
               </div>
               <div class="form-group">
                  <label for="fecha">Desde</label>
                  <input type="date" ngModel="{{editarEducacion?.desde}}" name="desde" class="form-control" id="desde" placeholder="Fecha">
               </div>
               <div class="form-group">
                  <label for="hasta">Hasta</label>
                  <input type="date" type="text" ngModel="{{editarEducacion?.hasta}}" name="hasta" class="form-control" id="hasta" placeholder="Fecha">
               </div>
               <div class="form-group">
                  <label for="logo">Logo</label>
                  <input type="text" ngModel="{{editarEducacion?.logo}}" name="logo" class="form-control" id="logo" placeholder="URL del logo">
               </div>
               <div class="modal-footer">
                  <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Cerrar</button>
                  <button (click)="onEditarEducacion(editForm.value)" data-dismiss="modal" class="btn btn-primary" >Guardar cambios</button>
               </div>
            </form>
         </div>
      </div>
   </div>
 </div>


<!-- Modal de ELIMINAR  -->
<div class="modal fade" id="eliminarEducacionModal" tabindex="-1" role="dialog" aria-labelledby="eliminarModelLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="deleteModelLabel">Eliminar Educacion</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body">
           <p>Estas seguro que queres eliminar esta educacion?</p>
           <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
              <button (click)="onEliminarEducacion(eliminarEducacion?.id)" class="btn btn-danger" data-dismiss="modal">Si</button>
           </div>
        </div>
     </div>
  </div>
</div>