<!-- <div class="card m-2" style="width: 18rem;"> 
    <div class="educacionIndividual">
        <div class="card-body">
            <h6 class="card-title">Nueva Educacion</h6>
            <input class="card-text mb-2"  type="text" [(ngModel)]="educacionIndividual.tituloEstablecimiento">
            <p class="card-text">Lugar: {{educacionIndividual.lugar}}</p>
            <p class="card-text">Fecha: {{educacionIndividual.fecha}}</p>
            <p class="card-text">Descripcion: {{educacionIndividual.descripcion}}</p>
        </div>
    </div>
</div> -->